body {
  font-family: "Segoe UI", "Arial", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.algo_list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 1.75vw;
  padding: 1vw;
  width: 90%;
  height: 7vw;
  cursor: grab;
  color: black;
}

.algo_logo {
  align-self: center;
  max-height: 5vw;
  max-width: 5vw;
  height: auto;
}

.algo_logo_smaller {
  align-self: center;
  max-height: 3.5vw;
  max-width: 3.5vw;
}

.algo_name {
  display: flex;
  flex-direction: column;
  margin-left: 0.35vw;
  font-size: 1.6vw;
  font-weight: bold;
}

.algo_description {
  display: flex;
  text-align: left;
  font-size: 0.9vw;
  font-weight: normal;
}

form {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

input[type="checkbox"]{
  width: 1vw;
  height: 1vw;
};
input[type="radio"]{
  width: 1vw;
  height:1vw;
}
input[type="number"] {
  width: 3vw;
  height: 1.5vw
}
input[type='text']{
  width: 11vw;
  height: 1.5vw;
}

#playfair_additional{
  display: none;
}

#homophonic_additional{
  display: none;
}

#rsa_small_additional{
  display: none;
}

#rsa_big_additional{
  display:none;
}

.algo_inputs {
  display: none;
  width: 55%;
  height: 4vw;
  border-radius: 1.75vw;
  padding: 1.4vw;
  font-size: 1.2vw;
  font-weight: normal;
}

.algo_remove {
  display:flex;
  width: 3vw;
  height:3vw;
  padding: 0.54vw;
}

.algo_inputs_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 4vw;
  width: 45%;
}

.algo_inputs_line {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 100%;
  gap: 0.35vw;
}

#selection {
  flex-flow: row wrap;
  width: 30%;
  justify-content: center;
}

#input {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 70%;
  height: fit-content;
  gap: 1.4vw;
  justify-content: center;
}

.input_box {
  position: relative;
  flex-direction: column;
  width: 90%;
  height: 14vw;
  border-radius: 1.75vw;
  padding: 2%;
  justify-content: flex-end;
  background-color: lightgray;
}

#plaintext {
  border: none;
  resize: none;
  width: 90%;
  height: 75%;
  padding: 1.4vw;
  justify-content: center;
  align-items: center;
  outline: none;
  font-size: 0.9vw;
}

#generate_text {
  font-size: 0.9vw;
  width: 12.5vw;
  height: 2.4vw;
  background-color: white;
  position: absolute;
  right: 0.35vw;
  bottom: 0.35vw;
  justify-content: center;
  align-items: center;
}

::placeholder {
  color: black;
  opacity: 0.6;
}

#submit_container {
  display: none;
  width: 90%;
  justify-content: flex-end;
  align-items: center;
  gap: 3vw;
}

#validation_error{
  display:none;
  background-color: #ff2c2c;
  width: fit-content;
  border-radius: 0.7vw;
  font-size: 1.4vw;
  color: white;
  padding: 1vw;
  gap:0.8vw;
  align-items: center;
}

#warning_icon {
  align-items: flex-start;
  color: white;
  height:20px;
}
#validation_error_text{
  display:flex;
  padding-top: 0.17vw;
  flex-direction: column;
  align-items: center;
}
#validation_error_specifics{
  font-size: 0.9vw;
}

#submit {
  display: none;
  width: fit-content;
  height: 3.1vw;
  justify-content: center;
  align-items: center;
  border-radius: 0.7vw;
  background-color: #12db30;
  color: white;
  font-size: 1.6vw;
  padding: 1vw;
}

#drop_area {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 1vw;
}

#drop_target {
  resize: none;
  width: 100%;
  height: 7vw;
  border-radius: 1.4vw;
  justify-content: flex-start;
  border-style: dashed;
  text-align: center;
  font-size: 1.4vw;
}

a {
  text-decoration: none;
}

#results_layout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.results_column {
  display: none;
  flex-direction: column;
  gap: 0.35vw;
}

.results_section {
  display: flex;
  flex-direction: column;
  font-size: 0.9vw;
  height:fit-content;
  min-height: 1vw;
  justify-content: center;
  align-items: stretch;
  border-radius: 1.4vw;
  padding: 2%;
  padding-left: 6%;
  padding-right: 6%;
  gap: 0.15vw;
  text-align: justify;
  text-justify: inter-word;
}

.section_content {
  flex: 1;
  display: flex;
  align-items: top;
  justify-content: center;
  text-align: center;
  word-break: break-all;
  white-space: normal;
}

.subheading {
  font-size: 1.4vw;
  font-weight: bold;
  align-self: center;
  text-align: center;
  margin-top: 0.7vw;
}

.title {
  flex-direction: row;
  font-size: 2.6vw;
  font-weight: bold;
  text-align: left;
  align-items: center;
  justify-content: space-between;
  height: 3.5vw;
  gap: 0.35vw;
  padding: 1.2vw;
}