body {
  font-family: "Segoe UI", "Arial", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.algo_list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 25px;
  padding: 15px;
  width: 90%;
  height: 100px;
  cursor: grab;
  color: black;
}

.algo_logo {
  align-self: center;
  max-height: 70px;
  max-width: 70px;
}

.algo_logo_smaller {
  align-self: center;
  max-height: 50px;
  max-width: 50px;
}

.algo_name {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  font-size: x-large;
  font-weight: bold;
}

.algo_description {
  display: flex;
  text-align: left;
  font-size: small;
  font-weight: normal;
}

form {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}



input[type="number"] {
  width: 30;
}

.algo_inputs {
  display: none;
  width: 55%;
  height: 60px;
  border-radius: 25px;
  padding: 20px;
  font-size: medium;
  font-weight: normal;
}

.algo_inputs_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  width: 45%;
}

.algo_inputs_line {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 100%;
  gap: 5px;
}

#selection {
  flex-flow: row wrap;
  width: 30%;
  justify-content: center;
}

#input {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 70%;
  height: fit-content;
  gap: 20px;
  justify-content: center;
}

.input_box {
  position: relative;
  flex-direction: column;
  width: 90%;
  height: 200px;
  border-radius: 25px;
  padding: 2%;
  justify-content: flex-end;
  background-color: lightgray;
}

#plaintext {
  border: none;
  resize: none;
  width: 90%;
  height: 75%;
  padding: 20px;
  justify-content: center;
  align-items: center;
  outline: none;
  font-size: small;
}

#generate_text {
  width: 150px;
  height: 35px;
  background-color: white;
  position: absolute;
  right: 5px;
  bottom: 5px;
  justify-content: center;
  align-items: center;
}

::placeholder {
  color: black;
  opacity: 0.6;
}

#submit_container {
  display: none;
  width: 90%;
  justify-content: flex-end;
  align-items: center;
}

#submit {
  display: none;
  width: fit-content;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #12db30;
  color: white;
  font-size: x-large;
  padding: 15px;
}

#drop_area {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 15px;
}

#drop_target {
  resize: none;
  width: 100%;
  height: 100px;
  border-radius: 20px;
  justify-content: flex-start;
  border-style: dashed;
  text-align: center;
  font-size: large;
}

a {
  text-decoration: none;
}

#results_layout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.results_column {
  display: none;
  flex-direction: column;
  gap: 5px;
}

.results_section {
  display: flex;
  flex-direction: column;
  font-size: small;
  height: fit-content;
  justify-content: center;
  align-items: stretch;
  border-radius: 20px;
  padding: 2%;
  gap: 2px;
}

.section_content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.subheading {
  font-size: large;
  font-weight: bold;
  align-self: center;
  text-align: center;
  margin-top: 10px
}

.title {
  flex-direction: row;
  font-size: x-large;
  font-weight: bold;
  text-align: left;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  gap: 5px;
  padding: 10px;
}